[user]
	email = 56314286+realaltffour@users.noreply.github.com
	name = altffour
	signingkey = 96E22EFCFC1F2140
[core]
	editor = vim
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld \"$LOCAL\" \"$REMOTE\"
[credential]
	helper = cache --timeout 21600
[commit]
	gpgsign = true
